<h3 class="first">Tree Structure Page</h3>
<h4>Header Selection:</h4>
<p-multiSelect [options]="headerList" [(ngModel)]="selectedHeader" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
<h4>Occupation:</h4>
<p-multiSelect [options]="occupationList" [(ngModel)]="selectedOccupation" [panelStyle]="{minWidth:'12em'}">
</p-multiSelect>
<h4>Category:</h4>
<p-multiSelect [options]="categoryList" [(ngModel)]="selectedCategory" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
<!--  below block can be enabled for subchildren - starts -->
<h4>Age:</h4>
<p-multiSelect [options]="ageList" [(ngModel)]="selectedAge" [panelStyle]="{minWidth:'12em'}"></p-multiSelect> 
<!-- below block can be enabled for subchildren - ends -->
<!--  <h4>Amount:</h4>
<p-multiSelect [options]="amountList" [(ngModel)]="amount" [panelStyle]="{minWidth:'12em'}"></p-multiSelect> -->
<!--<p-dropdown [options]="amountList" [(ngModel)]="amount"></p-dropdown> -->
<br /><br />
<button pButton type="button" label="Click" (click)="getSelectedData()"></button>
<br /><br />
<ng-container *ngIf="show">
     <app-treedata [parentData]="selectedData" [cols]="headerCols" [cols1]="headerCols1" [leaf]="leaf"></app-treedata>
</ng-container>
<router-outlet></router-outlet>